<configuration>
    <springProfile name="!dev">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
        </appender>
        <root level="info">
            <appender-ref ref="STDOUT" />
        </root>
    </springProfile>

    <springProfile name="dev">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
        <include resource="org/springframework/boot/logging/logback/defaults.xml" />
        <root level="info" />
    </springProfile>

    <logger name="jdbc.sql" level="${log.level.jdbc.sql:-ERROR}"/>
    <logger name="org.hibernate" level="${log.level.org.hibernate:-WARN}"/>
</configuration>